/* CSS Reset Sheet */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Global variables */

:root {
  
  /* primary colors */
  --clr-primary-400: hsl(322, 100%, 66%);

  /* secondary colors */
  --clr-secondary-400: hsl(193, 100%, 96%);
  --clr-secondary-300: hsl(192, 100%, 9%);
  --clr-secondary-200: hsl(208, 11%, 55%);

  /* font size */
  --fs-base: 18px;

  /* font weight */
  --fw-base: 400;
  --fw-medium: 600;
  --fw-bold: 700;

  /* font family */
  --ff-headings: 'Poppins', sans-serif;
  --ff-body: 'Open Sans', sans-serif;

}

/* custom css fonts */

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*  Background Image */
.page__hero-bg{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  top:0;
  left: 0;
  z-index: -1;
  position: absolute;

  width: 100%;
  height: auto;
}
/* Top Navigation */
.page__nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: auto;

  padding: 0rem 1rem;
}
.page__nav img{
  width: 100px;
  height: auto;
}
.page__nav button{
  width: 100%;
  height: auto;

  font-family: var(--ff-body);
  font-size: 0.5rem;
  line-height: 1.5;
  font-weight: var(--fw-bold);
  
  color: var(--clr-secondary-300);
  background-color: white;

  border: none;
  border-radius: 3em;
  padding: 0.8em 3em;

  cursor: pointer;

  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); 
}

/*  Hero  */
.page__hero{
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;

  z-index: 1;
  position: relative;

  width: 100%;
  height: auto;

  padding: 3rem 2rem;
  background-color: hsla(193, 100%, 96%, 0.5);
}
/* Main Hero Section */
.page__hero-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Hero Content */
.page__hero-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: auto;

  gap: 1.5rem;
  margin: 3rem 0;

  text-align: center;
}
.page__hero-content h1{
  font-family: var(--ff-headings);
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: var(--fw-medium);

  color: var(--clr-secondary-300);
}
.page__hero-content p{
  font-family: var(--ff-body);
  font-size: 1rem;
  line-height: 1.5;
  font-weight: var(--fw-base);

  color: var(--clr-secondary-300);
}
.page__cta{
  font-family: var(--ff-body);
  font-size: 1rem;
  line-height: 1.2;
  font-weight: var(--fw-bold);
  
  color: var(--clr-secondary-400);
  background-color: var(--clr-primary-400);

  border: none;
  border-radius: 5em;

  cursor: pointer;

  box-shadow: 5px 5px 5px hsla(322, 100%, 66%, 0.2);
}
button.page__cta{
  padding: 1em 3em;
}

/* Second Part */
.page__second-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  padding: 4rem 2rem;
}
/* Second Part Cards */ 
.page__features-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  width: 100%;
  height: auto;
}

/* Card */
.page__card{
  display: grid;
  grid-template-columns: 1fr;
  place-content: center;

  border: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 1em;

  padding: 2em;
}
.page__card img{
  width: 100%;
  height: auto;
}
.page__card-image{
  padding: 2em 0;
}
.page__card-content{
display: grid;
grid-template-columns: 1fr;
place-content: center;
gap: 1rem;
}
.page__card-content h2{
  font-family: var(--ff-headings);
  font-size: 1.5rem;
  font-weight: var(--fw-bold);
  line-height: 1.2;

  color: var(--clr-secondary-300);
}
.page__card-content p{
  font-family: var(--ff-body);
  font-size: 1rem;
  font-weight: var(--fw-base);
  line-height: 1.4;

  color: var(--clr-secondary-200);
}

/* Footer */
.page__footer-section{
  display: flex;
  flex-direction: column;
  

  padding-top: 8rem;
  padding-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;

  width: 100%;
  height: auto;

  background-color: var(--clr-secondary-300);
  color: var(--clr-secondary-400);
  font-family: var(--ff-body);
}
.page__footer-section1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 1.5rem;

}
.page__footer-section1 div{
  display: flex;
  flex-direction: row;
  justify-content:left;
  align-items: baseline;
  gap: 1rem;

  width: 100%;
  height: auto;
}
#logo{
  width: 180px;
  height: auto;
  background-color: var(--clr-secondary-400);

}
.page__footer-section1 img{
  width: 15px;
  height: auto;
}

/* footer section-2 */
.page__footer-section2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 1.5rem;

  padding-top: 2rem;

  width: 100%;
  height: auto;
}

/* footer section-3 */
.page__footer-section3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 1.5rem;

  padding-bottom: 2rem;

  width: 100%;
  height: auto;
}

/* footer section-4 */
.page__footer-section4{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  width: 100%;
  height: auto;
}
.page__footer-section4 div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  width: 100%;
  height: auto;
}
.page__footer-section4 img{

  width: 30px;
  height: auto;
}

/* Overflow section */

/* .page__overflow-cta{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: auto;

  background-color: var(--clr-secondary-400);

  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
} */
